<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>File References</key>
				<dict>
					<key>App Scope</key>
					<false/>
					<key>File References</key>
					<array/>
				</dict>
				<key>Minimum Application Version</key>
				<string>7</string>
				<key>PublishingManifests</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGUlNYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QEQcIExQVHyIp
				LTE1OT1FSExQVSRudWxs0wkKCwwPEldOUy5rZXlzWk5T
				Lm9iamVjdHNWJGNsYXNzog0OgAKAA6IQEYAEgAyAEFhk
				YXRhYmFzZVRub2Rl1QsWFxgZGhscHR5eSWRlbnRpZmll
				ciBNYXBYUGFnZSBNYXBYTm9kZSBNYXBZUmVzb3VyY2Vz
				gAuAB4AKgAmABdIKCyAhoIAG0iMkJSZaJGNsYXNzbmFt
				ZVgkY2xhc3Nlc1xOU011dGFibGVTZXSjJScoVU5TU2V0
				WE5TT2JqZWN00wkKCyorLKCggAjSIyQuL18QE05TTXV0
				YWJsZURpY3Rpb25hcnmjLjAoXE5TRGljdGlvbmFyedMJ
				CgsyMyygoIAI0wkKCzY3LKCggAjSIyQ6O18QElJXUmVz
				b3VyY2VEYXRhYmFzZaI8KF8QElJXUmVzb3VyY2VEYXRh
				YmFzZdQLPj9AQUJDQ1hDaGlsZHJlblZQYXJlbnRfEBJS
				ZXByZXNlbnRlZCBPYmplY3SAD4ANgACAANIKC0ZHoIAO
				0iMkSUpeTlNNdXRhYmxlQXJyYXmjSUsoV05TQXJyYXnS
				IyRNTl8QEFJXU291cmNlTGlzdE5vZGWiTyhfEBBSV1Nv
				dXJjZUxpc3ROb2Rl0iMkMFGiMChfEA9OU0tleWVkQXJj
				aGl2ZXLRVFVUcm9vdIABAAgAEQAaACMALQAyADcASwBR
				AFgAYABrAHIAdQB3AHkAfAB+AIAAggCLAJAAmwCqALMA
				vADGAMgAygDMAM4A0ADVANYA2ADdAOgA8QD+AQIBCAER
				ARgBGQEaARwBIQE3ATsBSAFPAVABUQFTAVoBWwFcAV4B
				YwF4AXsBkAGZAaIBqQG+AcABwgHEAcYBywHMAc4B0wHi
				AeYB7gHzAgYCCQIcAiECJAI2AjkCPgAAAAAAAAIBAAAA
				AAAAAFYAAAAAAAAAAAAAAAAAAAJA
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BannerUsed</key>
					<false/>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2014 My Website</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.php</string>
						<string>index.html</string>
					</array>
					<key>EmailAddress</key>
					<string>nik.fletcher@me.com</string>
					<key>FavIconUsed</key>
					<false/>
					<key>GlobalPluginData</key>
					<dict/>
					<key>LogoData</key>
					<data>
					iVBORw0KGgoAAAANSUhEUgAAAIYAAABaCAYA
					AAB9hS7FAAAAGXRFWHRTb2Z0d2FyZQBBZG9i
					ZSBJbWFnZVJlYWR5ccllPAAAA3NpVFh0WE1M
					OmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tl
					dCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2Vo
					aUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1l
					dGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8i
					IHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUu
					NS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8x
					My0xMjowOToxNSAgICAgICAgIj4gPHJkZjpS
					REYgeG1sbnM6cmRmPSJodHRwOi8vd3d3Lncz
					Lm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgt
					bnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6
					YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6
					Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8i
					IHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRv
					YmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3Vy
					Y2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9u
					cy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1N
					Ok9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRp
					ZDo4NjhkZWQ4My05NDkwLTQ0ODctYjAzOC0x
					ZWRmNGQwMDkyYTgiIHhtcE1NOkRvY3VtZW50
					SUQ9InhtcC5kaWQ6NkEyMzIwQjBFQTU3MTFF
					MkI3MDJBNTg1Q0VCNENDMTciIHhtcE1NOklu
					c3RhbmNlSUQ9InhtcC5paWQ6NkEyMzIwQUZF
					QTU3MTFFMkI3MDJBNTg1Q0VCNENDMTciIHht
					cDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9z
					aG9wIENDIChNYWNpbnRvc2gpIj4gPHhtcE1N
					OkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNl
					SUQ9InhtcC5paWQ6NDAxZDNjNDAtYWRjYi00
					ODIwLWJmNTctYWFhNjQ2MGE3MDdkIiBzdFJl
					Zjpkb2N1bWVudElEPSJ4bXAuZGlkOjg2OGRl
					ZDgzLTk0OTAtNDQ4Ny1iMDM4LTFlZGY0ZDAw
					OTJhOCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4g
					PC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94
					cGFja2V0IGVuZD0iciI/PpGPqKYAAB1MSURB
					VHja7F0JVBRXui6aHRFUBMW4Au4bxp0BNzLR
					EfUkcTTRmKdoNrM6TjAek/jUGEPGyUuMzxyz
					mbib+NyiEeOYMWhEEUlEQY2KIqsQQMCFZn//
					V/5lKjVV3dULiEnXOff0Vt1Vfe93v//7l7rl
					VFdXJzg2x6bcnBzAcGwOYDg2BzAcmwMYjs0B
					DMfmAIZjcwDDsTmA4dgcwHBsfzhgODk5iQ+K
					Vkutjptja4SbJWNtKzDcLly4MMhgMPgFBwcf
					ptcV1IzUauqs+GH6XQM9uOB3qblTc6XmzMeq
					Y/BVc6ukVoXndKjaP+zMvj0WdgeGuLOljTcM
					ok9MTExoTU1N2Y0bN5IPHz4cTe8FUvPCgFrw
					exh8T2r+GzduHH7x4sV3S0tLTxqNxvw62VZd
					XX2D3k8pKCjYm56e/s9169aNpO+0odaMgeRs
					zf+5l5uljKG32cIYBh6Qjtu3b18QGRk50cfH
					RygsLDy6Y8eORU8//fRJ+uw6ZjYdo0bjd5yY
					HbzXrFkTOnbs2MXOzs5/KisrEwgEQmVl5Z3j
					ubi4CB4eHoKrq6v42LRpU/F5RUVFQXFx8cH9
					+/d/PGPGjDTa/QYzl1Ws5WAM+5iSptRCJkyY
					8Jd58+Yt9fPzEzp16iS4u7sLV69e3b93797l
					s2bNOqUGEDYbmOV+p0+fjmnSpMlLxAZ3fl/6
					w/Ln8tdoAAbA2Lx5c/E5AepUSkrKimHDhu2j
					XUv/CABpjMDA5kGtPbXBNOPf6Ewb3mzVqpXQ
					vn17TYCwVsB3/ZOTk9+jc3hEOehKIJgDiZeX
					l+Dv7y8+EsBOHzp0aAkB9hDtVsagrHUAo+GA
					gVnvR60PmZK/Lly48Fn54JkACARq0y1btswM
					CgpaYgoEloKEmEc8LsxNdnb2ttWrV79FWzrt
					cuv3yB6NFRgCi8ZO1CI2b968NDAwsKVy8DBQ
					7dq1EwcrPz//WwLEqjlz5tw6ePDgV56eni1M
					DbS1IIFZA4OUl5dnHDhw4NWHH374oIw96hzA
					qH9gwKPwpxY6c+bMJ6dNmzZRbTDx2Lp1axEg
					JCTL4+LiMmjwumvtaw+QAIht27bF8W6lpaW9
					Fxoauorevgbt8XsBR6MFhujaODk1gQilNmLn
					zp1ve3t7e2oNJryLZs2aCeRJ6Bp4W0GC4wGQ
					EKikZ94ZMGDA/9JHhb8XcNQXMAx2Oj+o/yJq
					VxISEhJxArW1tf/RampqRBf0l19+ufOe5DdL
					z+X7Kr8v31f5u1qfV1VVCVlZWcK1a9eE/v37
					v5qUlPQinSfMl5uTJb3qCIlbxRiS69qV2qjd
					u3cvJcHpYumMVz5XPtrKJBDCYI5vvvnm5XHj
					xn1JbxfT+Vc5GKOeGIMpuZzaL9QyUlJSUq2Z
					8Wr725NJrly5Ity4cUMYPXp07LPPPtsNEVqO
					pzi2+mAMWRQTkdAe3bp1G/fuu+/Ot5d2sCeT
					QHP07NlTSE1N3UFidDGDWS9rSEnCGlmr5sfa
					u6FZGrX4lL3vzgGvsPfff/+/Q0JCOmkNrt7B
					JE1SS5qkgl7X+fr6ulFzsRUkbdq0gTtbUVZW
					luHq6lqJ37YAGEJRUdGPzs7ONTdv3swqKSm5
					EhYWFs86q0KQJfcaAiz3CjAMLOx6R0RETIqJ
					iZmthwG0Pvv555+Ln3/++SPQAtzRHkOGDAmM
					iorqOnjw4EByRw16oqLKz2lQxUCYKYAp/6f0
					nDwu8REheDc3NzHSKqrvioqCW7dunSfQJKWn
					px8aM2bMCQ6qGRks9RJcuyeAwZ8h4NURAa+V
					K1cuIsEXqHfA5J9hVvfq1WstvY1kXCZ3ridH
					WjvQLO07d+7cEf7+/p6WhM6tMU1qn8vfA0A8
					PT1FkKAhfkL65iaB5HB2dva35A3t4HRAObOJ
					3UByLwEDAa+WCHhNnTp11iTarBkwmnHC559/
					vmXmzJmf0st0nnmu7P0gtd+NTNXgZcuWTSRw
					eJkDW0OBRNIxYBZkgNEkkJw/f/4rYtJ/yUBi
					cy3JPQMM/hwBr2Bqwz/77LOl5CL6mBowtfdo
					loGez3bo0GEGvTwr3E6nS2l6/F5bav3Cw8NH
					L1myZJIljHQ3QIKgHtgEJiczM3PT+vXr1775
					5ptgwptgEWsB0tgDXJoBr5MnTyZruaNqrqnU
					iIIRd+j+xhtvIGwOQ25A51Ezsua4TC3lB9rO
					nj2bpXRbzR1Tz77m3GW1z5WfIcCG4FpGRoZw
					8eJFgQRrQFBQ0JyFCxceuXTp0vIFCxb0hDcH
					4d6YXOf6Ygzs4M0Br5Fr1qxZLIXJLZnVkZGR
					SLolUEc+BSDQscplx3CRTFZ0dPTMKVOmTLKF
					HRqSScAiSPIh2Eb/6VZWVtYWMpsriUEymEGq
					9WqQe4ox+E8ZpYDXhQsXzmmFyE3NavJKUPgT
					tnjx4n7QFqxfpGPAS0G2NJs69fu8vLxCW9jB
					WiZR21ftc/lnYBECvMggxCZexIwziTn2JyYm
					Pkn/J4ADb853kzHqk7owcKiiytm6dWtcZWVl
					takBURsERCrJBRSeeOKJ59gbcVMco5JNFlLr
					h+w18OYiqtb8rlYeBwAh9xbP/QcNGrS8pKQk
					7pNPPglj83LX8jn1BgxmDfjxBTQzzpHgytTb
					2fKOJf0gsgYJTLCGt8IO17DCzyExF5+bm1tk
					CSNZAhItLWEPkJAgFSfB5cuXIVB7z5gxYydp
					s78xe3jeDe1R3wcEa5SA7vfs2bNPTzZU2dBZ
					YI3x48dPpt9pLmcNhcm6fJw2S/Mx1rBDfYHk
					+vXrApldPHr17dv3NTKPa+bPn9+dzahLQ7JH
					vQKDXTC4mVePHTt2kjyNXD0pc2WnQ9H37Nlz
					9LRp00JUEl81rDVyPvroowPUqeXmgGdPdrA3
					SFAdjzIBNH9//z+/9tpr/7djx47R9P98oVsb
					ChwNQVFV7F5mJiUlHdFrQuQgOXfuHH7HIyYm
					ZhaH3F21WIMAmGgJ8CwFiTkQ2AskKGQidxbh
					+47jxo37fPPmzWOFBqwjqRd31UTAa1hsbOyi
					gIAAPz2uo9wV7NWrl9C1a1fjk08++ci6desS
					YaKkoJCiHmQk6Y1Fau6xJe6l8jWx3a3k5ORc
					0ksFcXFxBWwmsZPL1KlTA1u1auXbtm3b5t26
					dWvu4+PjakkwT8tdNhgMYiG1dEkG6a2VPXr0
					iOWJJlag3VORT5X9XVhI9Z85c+bLYWFhkZbG
					NNAxEyZMAHtsJ/s7j97KomNXyo7hyqHyQS+8
					8MKLI0eOHGYJ8EwNUE5Ozi903ns5qFbAgldK
					1btxzMaHPaeWUVFRIaNGjepC5+lP522wBCTI
					u6Dh/+JReh8xD0RO09LSPqRJ8rbA5YmCBdcK
					N0ZgSAGvLpjRK1asWEJ/0tPSOgzqaCEoKKiE
					2GAsh8lLpUAQH8OHWWPUpk2b3nR1dXXRCzyt
					/Zo2bVoRHh6OfA2ypRd4thpZ24jxKuH2hVNe
					zFqg+9bU2oWEhHSOjo4eSG5oW2SC1Y6JTC+S
					bmgAA1hCyQKSuWnZsqWYe0lJSXk/NDT0nwyO
					Sr3gaAwhcZMBL6LEFGvsPgJCTZo0aXbw4MEn
					JDGm5h5jZqfSJv9dPVpCuR8GytPT8yr93mnO
					8p6hdgmhfjAWtyv8HoQQrpk5Tg31GfvpfL8m
					8bh20aJFe8nbKJF+V8qfYKBxaYWvr694LABC
					EqBwYcvLyxFCFx8R8yAvBVfbYYLMSUhIeEqm
					t+yuORoEGOxFODG6S/bu3XuU/ni1pbkJdArA
					QTPwMfqdVuyhOKkE1bK++uqr3wTVLI1ZoIG+
					aYYCcLnU8pmhKjhnI201/B5C2bg0IY+BApAc
					pfbvI0eO7CJT9PnRo0fPk6dRh+tdMPMBEHlO
					xWg0ikCAe46iaZynUvgCHChPpD6YT/9xDLOk
					8z0BDKfbmzM1D2oo92u1cePGocePH3/8p59+
					emry5MkDya2ssCbsTN+HrW0eHx//XyZYI58A
					lEakccaWwBYGh8DhLauhqDXHjAyUcgYJsqep
					1BKoHZw/f/5aMqNH6HfrcFyAASDAQAMUSjBo
					ud25ublgFXfSXO+RnurJZtqu4KivegzY3Kb7
					9u0b2rt37ylk60fQbA8oLCwU90HQCs8tFYTS
					84iICOG+++67RmblQXr7PMSgTGtIV+H3DA4O
					jnr99df/TiLOxZoEGiieRKQwb9682cuXL98D
					5rA0Pc794cG0jyv2QqdNmzb+5ZdfHkX9YlCr
					FlO+VhOrqCAjvYVg2MVmzZpNYLOGSVFrD43h
					Yk+WYIXe9JNPPulHXsE/s7Ky+pDZECN6tmQ9
					la9//PFHoXPnzs3Jtx8zZcqUq9wh1VJQjfYB
					rV9NT08/Q+eQSe5ekCWFxnxJhJgux4x+7LHH
					oggY8fz/jBbqqxr6Len8YEorN2zYgOd1L730
					UqQEDjCB/FxkRda/eS4XpJmZmULHjh1Dzp8/
					/1aXLl3+xsymW4zWuynhWSoufJKUlPQGCav9
					27dv70PPhZKSEpvD0Eq6x3IJsLU0m6dz6t1D
					oTWqJCr/5ptv9lmT2ZXOD1FXYr0HHn/88SDB
					yssNmM0q2aNBNVoygePrLVu2HNPqC7XFTJT7
					wQQVFBRgkjy8fv36B9m0OjcKjcEdBaoMIHZY
					c+DAgZeQELI1wmgOJCdOnBACAgJCvvzyy78o
					BZg8FJ+YmPjjpUuXMizN7MpT//h/ZE5mca7G
					1QbPTModQZz+9N577+08c+ZMjqn+0IrcSs+v
					Xr0q6pOHHnpoCbvJnvbwUmwFhmQ+Wn744YdL
					ieL/bO1FQ5aCBBVeEGFksrC8Ey6qdldhDczQ
					KwTYb/XmPZTnhjgDjtOrV69x9Ly1iidkDThK
					ufDo1KpVq3aSCK3RquFQq+dQMgpMCrF065SU
					lFdsAa89gYFZ6vPWW289QmLycVtL5SwFCXk5
					SDR1/vTTT4dwgMlJbtullDyZtGRijSt6cx5w
					I+FShoSEwIaLlG0wGFyJpV5QekJWgkMydRnH
					jh1LSktLu6RmRkydq5xJoINwPXCPHj0mR0dH
					I8DXxNaxNdjIFqCt1iQu/27vKig9IEEGkmZz
					JVLVzFxOGoU8V8h1TTSndbBsE4BAQk4EhhRn
					AFWj47t16xYlq7ByshEcFRzwu7RmzZo95KrW
					WKMz5C4s6kZjYmJeUCYaGxoYIls899xzj5Ky
					bttQZXXyhlzC4cOHk955551s4dd1RgUFa0Br
					5O7cuTOehFqh2m8EBgZitokXPSMiKUUfMRMh
					nhFYQ5WVh4dHU2KpZ2xlDZkOgveUl5CQ8CNp
					jXRzOsMU0yEmwkJ09PTp0zvbyhq2AAMztAXZ
					3XH2SjVbui/58dfJldzDOYNyDTftTvnf0aNH
					D0m/jXJ+mApiATE0jRyFVE0FIAAQYAop4ASQ
					QOiRhzKJRZ6XHdLfd3TQunXr9kJrWJL+V77G
					+TFrzGat4XI3gAFPxM/T07OrNbULtoIEg0mu
					aBydA9wGxDLKNSqr72iNPXv2xNOsL+vTp4/Q
					oUMH8TJFiR0QigYYEHNBBFLtHFAfAdYgT+cp
					e7PGDz/8AO8pS9l3yrC4FkCkImOAo1OnTiMk
					k2eth2KwAVCeQ4YM6UIzzd3WAhZrQOLr63tx
					xYoV8ez6FTMzmEvgXSaTkCJnB8REEMhCogoA
					UbPj0iPAA1tOdD2GPSEPO7GGGHP5+uuv92sl
					Fs31n/QcWsjLy8tn3759D3O217mhgeFOYq2j
					3rJ5e4KExKGRdMUuHWzxH+V/+F5+fn4VKqQk
					dpCftzRDtc4xJycH+ZO2u3btGm+PBJaMNa7u
					2LEjMSMjI1d+fCkKqrcfAXD8NzKRowRFjawl
					m4sNwHClTnSTxkMettUKM6uFoOmPVJE7mR4f
					H5/OSt3Qt2/fVkSHbejPtSG6d5VC1NigDYhy
					j0Cwccq7VFYboekF0PdF1iC6vUSCNXn48OFD
					lLkJ+X+RXssfsRUVFYkdHxERgfjJThwfIXgb
					L1K+ozVIJP/rxRdfnC4dUy1nohYil/cpzpG8
					q97snXiY0F/1ojFwyaCTLWXzWJuCdMJuAsWX
					3MnbqG1PSUnZSB20NjY2dm1cXBxmUZH0fQJM
					3ty5c/dy0YxYqKJzUGoYRNlkgnaSWag0J+qU
					TCLtA/eYWKM9naO9WEPynvLoN48SoxWaYwmt
					i5nwiAQl9a3bxo0bR3Dm1dBQjCGuKnP27Nkr
					qKqSzyglmrWYpEWLFsiQ0k+cxV0LUkDzEmOw
					aEKGNICY4RS1DmTXg2fNmtV769atMCFpXCNx
					U2+2k1kDMyefzEd6cnLyybCwsEHKJJVivY/f
					/Afpf6LjMSuHDh06TWINKYlnwwaNdI0GNod0
					TKafn19LrXNTspgyewrzCO1ELvhgevkVxzRq
					GoIxMBiVuCyQTMFNc8yghm7qVASoznGJHh4v
					c+oYNQwXefCTpGoomqVb58+fv/iLL77Yx4mo
					EisGQwpHZ37wwQe7JPfQ1EXJWrMVpQMBAQFd
					3n777UHC7Quh7MEayMIWUb9e1qMp5NFPZV9D
					UPv7+wcxY7haoxWsBQZm93Vy8XL0ikn5ewgq
					de3a1ZUV+Q2snseVUWJFFA/gVQYJyuqOcTvD
					1VRGS+26vPzPaDSmp6WlXdArnNUijRB6Ji6f
					tFZrlJMZKNfySPQIfLwPYU3eiR8Dw62hgCG5
					gKWE7lRzSwKogQQCbvDgwf0Zzc5Kt0+6RQmu
					BucAVTazCdzOW1q3urCANbLIBu/SCirpyVXg
					8kkyh/cvW7YM/6OpvS5EJjPb3JaSROwH0JIO
					8mPx6dJQwBCYMUpIOMZT51apgcNU56JWg1ij
					w+bNm0eaK01jFqnk2spKG0Dxm/I/Mk+nz507
					l642A+Vuq9aMlV10/TJ7ALayhguxhSfKCbRY
					S2rmxL10iw+upnNuSGBUsp3Pyc7OTtWTSZV/
					BmWPwl4TxTb1ud0JKm3ZsmV3dXV1jVYHm4tt
					nDlzBuuV958+fTrWDW1i7QXIzDZNYmJiBtFM
					76oW8bQ03iPLaRkaEhhS0Cjv2LFjcdS51XpE
					m/z9ffv2icU2NDhj2QtxaQhUyINKxBinaObn
					WVJRJp+5EKEIRS9cuHCutVqDQeHdvXv3Tr17
					9/67mmkwpX2UQTB5cOxu5Eqk1YDzyXVDbWWa
					HlMifzx//rzIGhMnTnw9NjYWASesCeHaQMxx
					hzX27NkTp1c0qw0YiVgk9CJIawy0RGtIlfQA
					FCrRVq5cuc3d3b2dtdVmykZudQlP4NqGBIa8
					cy/T7N9KgsdoChxqIPn4449RCONJFLrx+++/
					nybovHAXlM0gcudHZytYQyz/O3LkSCKxRq4W
					W5gKS6PhomvkUUhrzBFuLxrXgs7HR9Z8cRkF
					NVyzi/hEALXWZILa79q1K4pYZwOZjy9IF7Q2
					x7Lm3pee47qVMqSJ+fZfFrOYHe5XAurEnQz7
					k/v52LBhw/6qFqZVe8TamFi+GZnOQYMGIdtZ
					RW7g10SpMQSWIuHXJQ/rVKjXa8OGDcGPPPLI
					ioSEhGUPPPBAMg+07ttc8e+Id2iKiIiY+vTT
					T0fLA1lq/1dlgX3xOUr5hwwZghrRA97e3ted
					nZ3l9SHoZ4OPj08PWZGTgQbxvvT0dE8UHMMc
					qQWulGFxc+ck7Y9bcVy7di1+zJgxi4TbFz8V
					N/TlA9Uc579InfJvOqEQ2kLVOlAe/w8ODhYr
					pVAlhUjdoUOH0LmuBIqJBQUF4dRZn4WHh68h
					txa5CAn1dSymvObNm9fNz8/vQ6LWnpGRkcMA
					qE2bNr39yiuv/MyXD1SZi3Nwab+Ykj98+PDR
					v9BG7mdreTm/OZBIJocvn8TbD8jvxSJtyHrK
					NwSgpGyu2jUlyv5S5k7UIrTy57iK7qOPPjom
					/HofuoZlDD5hF87kYfWX8HHjxj1HovI+tVA4
					VqsLDQ0Vy+ikWgjUVMLvlj7v16+fyCI06EZi
					wxT6/Cx1bKrBYKhxc3NrSTQ5NDU1dWBeXh7s
					ufh7YB6apUYAir6//Pr168XMOCZX4ZWxRiix
					z+zx48c/pGQ3taSVMjStlQIwNfBqzGNuX7Vj
					qo0LidgiYnAUBx/hZGPl3bjDkVQtjuKQXtQi
					SFDOpsFvJu2LK6ewxgVqKqU/B7uMCJ1aB2F/
					7AugoEk5AFxPgviB/Huis+7uLlI5buRoNBrz
					CDjLBw4cuIWDWRWmYh90TORmED4etnz58rfo
					eM3U/rMekJiif1MmwNxrU+ubK88P9aok7Hc/
					88wzqzhqDLqqvSvLIDA4UByMNSr6EigiR48e
					PZ3otQnC3/fff794qb80wKiWAluYuvLK1Gut
					jgeIkIfBMXGbzf37978+efLkBFP6gxkPhTf9
					iDWeGzt2bJTWYJkaNCX1WwMSLRbSCxK+YU8x
					9QG0xSHOK91Qmp8GA4bkKXBmFMo8lMAxYvbs
					2Y+RVvCVAkUwG2AKCz2I33S4FjDk78EUhYWF
					ieqc9MeOtWvXxi5YsOCC8OsSzXWy7+GL4qo/
					9HT4P/7xjyW+uHDVzAzXAxJTA6/HhGiBTQsk
					1Oc1pLXWUNvBWWtp9Z9Gsch8EwZHb7L7Axcu
					XDgTSxBJlyvqXGxFtYNNpfXVfgNrkqPGk86j
					gtzC1WTO/qeiouKaUn/IV/2ZOnXqnOHDh4/S
					UxhjSiNYMuPNmRQ1naH8DBdHZWdnf0+uP+7a
					kMi5pVuSd9QYFpmXwAE3FqHiAZMmTZpIrmw3
					1FuqqXqtjtZ7PqbMDfQH2AMV4cRW5EBcxK02
					N3FWt1rBGl2og0dCa3h5ebmriUlrQaLmSagx
					iTU6A2xM3lzyq6++up6z0BcERXVbo1hqicHh
					ybMQSyyFDhgw4M9kw4cR3blogcCUvjA1y8yZ
					H2zkigokSJG9zKVB/xOCW7xovVxrQCMNiI6O
					jqF9h+rVNuaYwlKzYAlIbt26VXPq1KkfVq9e
					vZtrWM4LKgXSd2UZBI0YAWgsj0/w5okTJ0ov
					XLiQ9eijj44h97KVmk8u/9PyqKPWvqbMjzyn
					gQ3Xu5I3U3Xy5MlVDFqDSv5HLP/bsGHDLjrH
					+0kwuyvjGjq0lkmg6/melsurFOn0n65t27Zt
					7+nTp4+xpkjnaLRNd4es98XZZK6sdI8RsEcv
					ovKIqKioQfI7FOkxIWrCTUt/KDdcdUYDnUBs
					8AHPrBwuCpKf753V/2i/V0ijDFYzd2rmQ0vn
					qDGFJR6L2mty228SS6QQKFAaiVV7UAWXxRlv
					1TUyGuuqfZLuQIq9AwOk+4MPPjiS7H933ATP
					lAmxRF9ozdTy8vIU8kzWsg0G3ZYo4xvy1f8I
					RA8sXbp0iaurq7MeMaknWGUqDmLK3PD512Zm
					Zl5LSUk5dfDgwVOsI9AyOFZxgz2QOq1J1aiA
					oXBnJfbA4modqXWm9ztHRkaG0+wMbtWqlacp
					ttCrM+QDRF5IbWlpaVJsbOw2Zgpcj1IkXydU
					hTUQuR1I7vYbXbt27W0KkKbORyuCqsV6kvnE
					OZeVlSHyayRRWZqenp55/Phx1MXmsreBlsPu
					qK5kWaMFhoI9EO3yZYC0Z5B06ty5c8/w8PA+
					QUFBzUkgWi1SpU4mG1z03XfffZuWlpbIUUDY
					4CLBxL3dZfeQDSbBOoLOZURVVRXCr64q4KhT
					m/3wErTYhcsWa0k0GlNTU4tleSCpnKFG0mWc
					67jGYhLnXcitmD+rUHz/3gSGovNdWAT6sIkJ
					5JnaDq4u6ZDuJAA7BQYGNqfNgzSCk54/X1xc
					XEkzLO/SpUuncZkA29+f5TbYXIKN7yHbgkHb
					TrDTgiQKoVvJTbxHqxzTLB4rON5yk9sNfpRu
					2Vkr3MsrA1vAIN48U/04RB3AjALQNKeZG9im
					TRu/li1bNnd3d3c1cFCEmKHuBm2FhYVlGRkZ
					Wfn5+bnsDWXJKLdQssF6qsvZ7LmzLvLm87PX
					kol1PKg1DIBaBTCkz6u5VQkaN/m9p9cSt+B3
					nWUs0oSZRGpNuXlz2F0qcpWo18izqVRGvcXM
					EBbVaShAa5A1u3r0MkDUWXuJY6MFRj1t0oBI
					63TLmwc/usgGq0ZBvVKrkM3IP/z2ewCG2ibN
					WmcZKJwUgq1GZq/rHFD4YwDDsTV2YDi23//m
					AIZjcwDDsTmA4dhs3P5fgAEA9lkgkxTN9OMA
					AAAASUVORK5CYII=
					</data>
					<key>LogoFilename</key>
					<string>reason-ncd-logo.png</string>
					<key>LogoUsed</key>
					<true/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PublishingDestinations</key>
					<array/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<true/>
					<key>SloganText</key>
					<string>Changing the world...</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Reason</string>
					<key>TitleText</key>
					<string>My Website</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>184AB119-16F9-4406-8138-5A8F6061D768_rwbackup</string>
					<key>UserAgentResizingPreset</key>
					<integer>0</integer>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>hasChangedGlobalBody</key>
					<false/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<false/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<false/>
					<key>minifyExtraFiles</key>
					<false/>
					<key>useCacheBusting</key>
					<false/>
					<key>useDocumentPortability</key>
					<false/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
