<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ChangedStatuses</key>
				<dict>
					<key>default</key>
					<true/>
					<key>ftp://ftp.multithemes.com/www.multithemes.com/examples/lander/</key>
					<true/>
				</dict>
				<key>ColourStyles</key>
				<dict>
					<key>Lander</key>
					<dict>
						<key>%colour_body_background%</key>
						<string>#13110E</string>
						<key>%colour_content_text%</key>
						<string>#FFFFFF</string>
						<key>%colour_footer_text%</key>
						<string>#565959</string>
						<key>%colour_header_title%</key>
						<string>#1D1E1E</string>
						<key>%colour_highlight%</key>
						<string>#FFFFFF</string>
						<key>%colour_links%</key>
						<string>#DCC158</string>
						<key>%colour_nav_background%</key>
						<string>#4B4A46</string>
						<key>%colour_nav_links%</key>
						<string>#DCC158</string>
						<key>%colour_nav_links_hover%</key>
						<string>#FFFFFF</string>
						<key>%colour_page_background%</key>
						<string>#4B4A46</string>
						<key>%colour_sidebar_background%</key>
						<string>#2B2B2B</string>
						<key>%colour_sidebar_links%</key>
						<string>#DCC158</string>
					</dict>
					<key>Offroad</key>
					<dict/>
				</dict>
				<key>CreditRapidWeaver</key>
				<integer>1</integer>
				<key>CustomCSS</key>
				<string>#drop:after {content:"";}</string>
				<key>CustomCopyright</key>
				<string>如有侵权，请联系rd哥哥删除</string>
				<key>CustomCopyrightUsed</key>
				<true/>
				<key>CustomSiteTitle</key>
				<string> &lt;i class="fa fa-cloud-download"&gt;&lt;/i&gt; 资源下载</string>
				<key>CustomSiteTitleUsed</key>
				<true/>
				<key>CustomSlogan</key>
				<string>rd哥哥不只是生产资源，还是资源的搬运工</string>
				<key>CustomSloganUsed</key>
				<true/>
				<key>DefaultLinkTarget</key>
				<string>external</string>
				<key>FilenameExtension</key>
				<string>html</string>
				<key>FolderName</key>
				<string>downloads</string>
				<key>HasCustomThemeStyle</key>
				<true/>
				<key>ImageFormat</key>
				<string>Original</string>
				<key>ImageQuality</key>
				<string>High</string>
				<key>IndexFilename</key>
				<string>index.html</string>
				<key>MetaDescription</key>
				<string>rapidweaver responsive theme with modern design</string>
				<key>MetaTags</key>
				<array>
					<dict>
						<key>Content</key>
						<string>responsive theme with modern design</string>
						<key>Name</key>
						<string>responsive</string>
					</dict>
				</array>
				<key>OutputFormat</key>
				<string>Optimised</string>
				<key>OutputXMLDeclaration</key>
				<false/>
				<key>RobotsShouldFollowLinks</key>
				<true/>
				<key>RobotsShouldIndexPage</key>
				<true/>
				<key>SidebarEnabled</key>
				<integer>1</integer>
				<key>SidebarTitle</key>
				<string>文件下载</string>
				<key>TextEncoding</key>
				<string>utf-8</string>
				<key>ThemeStyles</key>
				<dict>
					<key>Lander</key>
					<array>
						<string>[+] combo options.Back to Top Button</string>
						<string>[+] combo options.Banner Image: Show dots grid</string>
						<string>[+] combo options.Navigation: Uppercase</string>
						<string>Banner Image - Parallax.Inactive</string>
						<string>Banner Image - Vertical masking.MaxHeight 600px</string>
						<string>BreakPoint: Sidebar.  900 Pixel</string>
						<string>Google WebFont: Classes + Titles.Bree Serif</string>
						<string>Image - Parallax.Apply Parallax (disable in small devices)</string>
						<string>Image - vertical masking.MaxHeight 500px</string>
						<string>Loading page - Effects.Default</string>
						<string>Max Width.1100 Pixel</string>
						<string>Navigation Colors.Navigation - Link</string>
					</array>
					<key>Offroad</key>
					<array>
						<string>Background overlay.80% opacity</string>
						<string>Background.Use background image</string>
						<string>Blur background on scroll.Blur</string>
						<string>Desktop navigation.Main colour</string>
						<string>Global colours.Main</string>
						<string>Photo album.Show captions</string>
						<string>Sidebar.Right</string>
						<string>Site description.Visible</string>
						<string>Site title.Show site title</string>
					</array>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Sidebar.as</string>
			</array>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>Page Attributes</string>
</dict>
</plist>
