<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>File References</key>
				<dict>
					<key>App Scope</key>
					<false/>
					<key>File References</key>
					<array/>
				</dict>
				<key>Minimum Application Version</key>
				<string>6.0</string>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGUlNYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QEQcIExQVHyIp
				LTE1OT1FSExQVSRudWxs0wkKCwwPEldOUy5rZXlzWk5T
				Lm9iamVjdHNWJGNsYXNzog0OgAKAA6IQEYAEgAyAEFhk
				YXRhYmFzZVRub2Rl1QsWFxgZGhscHR5eSWRlbnRpZmll
				ciBNYXBYUGFnZSBNYXBYTm9kZSBNYXBZUmVzb3VyY2Vz
				gAuAB4AKgAmABdIKCyAhoIAG0iMkJSZaJGNsYXNzbmFt
				ZVgkY2xhc3Nlc1xOU011dGFibGVTZXSjJScoVU5TU2V0
				WE5TT2JqZWN00wkKCyorLKCggAjSIyQuL18QE05TTXV0
				YWJsZURpY3Rpb25hcnmjLjAoXE5TRGljdGlvbmFyedMJ
				CgsyMyygoIAI0wkKCzY3LKCggAjSIyQ6O18QElJXUmVz
				b3VyY2VEYXRhYmFzZaI8KF8QElJXUmVzb3VyY2VEYXRh
				YmFzZdQLPj9AQUJDQ1hDaGlsZHJlblZQYXJlbnRfEBJS
				ZXByZXNlbnRlZCBPYmplY3SAD4ANgACAANIKC0ZHoIAO
				0iMkSUpeTlNNdXRhYmxlQXJyYXmjSUsoV05TQXJyYXnS
				IyRNTl8QEFJXU291cmNlTGlzdE5vZGWiTyhfEBBSV1Nv
				dXJjZUxpc3ROb2Rl0iMkMFGiMChfEA9OU0tleWVkQXJj
				aGl2ZXLRVFVUcm9vdIABAAgAEQAaACMALQAyADcASwBR
				AFgAYABrAHIAdQB3AHkAfAB+AIAAggCLAJAAmwCqALMA
				vADGAMgAygDMAM4A0ADVANYA2ADdAOgA8QD+AQIBCAER
				ARgBGQEaARwBIQE3ATsBSAFPAVABUQFTAVoBWwFcAV4B
				YwF4AXsBkAGZAaIBqQG+AcABwgHEAcYBywHMAc4B0wHi
				AeYB7gHzAgYCCQIcAiECJAI2AjkCPgAAAAAAAAIBAAAA
				AAAAAFYAAAAAAAAAAAAAAAAAAAJA
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>ConsolidateCSSFiles</key>
					<false/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2014 Brandon Lee Theme Design</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.php</string>
						<string>index.html</string>
						<string>index.htm</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoData</key>
					<data>
					iVBORw0KGgoAAAANSUhEUgAAAFQAAABWCAYA
					AABRo7HKAAAAGXRFWHRTb2Z0d2FyZQBBZG9i
					ZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1M
					OmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tl
					dCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2Vo
					aUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1l
					dGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8i
					IHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUu
					My1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8w
					Ni0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpS
					REYgeG1sbnM6cmRmPSJodHRwOi8vd3d3Lncz
					Lm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgt
					bnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6
					YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6
					Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8i
					IHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRv
					YmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3Vy
					Y2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9u
					cy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1N
					Ok9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRp
					ZDowN0Q5QjU5NjE0MjA2ODExODIyQUU0QzND
					RUQwN0MwMSIgeG1wTU06RG9jdW1lbnRJRD0i
					eG1wLmRpZDo4ODQzQ0U3RUVCRkIxMUUyQUMx
					REFDQjAwNkFCNzc3NCIgeG1wTU06SW5zdGFu
					Y2VJRD0ieG1wLmlpZDo4ODQzQ0U3REVCRkIx
					MUUyQUMxREFDQjAwNkFCNzc3NCIgeG1wOkNy
					ZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3Ag
					Q1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRl
					cml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9
					InhtcC5paWQ6MDdEOUI1OTYxNDIwNjgxMTgy
					MkFFNEMzQ0VEMDdDMDEiIHN0UmVmOmRvY3Vt
					ZW50SUQ9InhtcC5kaWQ6MDdEOUI1OTYxNDIw
					NjgxMTgyMkFFNEMzQ0VEMDdDMDEiLz4gPC9y
					ZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4g
					PC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9
					InIiPz4fDuFDAAAD1klEQVR42uzdW0tUURQH
					8OWMKVEQWUFBRGREUmR0tRAqoTK6+A38CH4F
					v0L05ENXiqgwIioly5KmMqOCMgIJohu99dTV
					0ZrWYlYQ0+jMnLPP2WvtvRf8ybeZ89MzZ6+1
					twago+ZitkGo2JXBtGGuYr4G1Pi1HHMLU+AE
					1BjVjDnJiIWAGq82YUZLIANqxGrAnJkFM6DW
					8ADaiblTBWZAraIWYa7XgBlQZ6kNmLNlHkAB
					NUKtxeQiQgbUklqIOY7JGwD1HpU6oAeGIL1H
					pd78UgKY3qHS0mgr5jLmR4Kg3qCuqHGdGVAr
					YJ7AfEsR1FnUzZhHKUM6izqHF+0Fy1GPmuWl
					0U3MLwGg6lGXYAaEQKpHbeER3BeBoOpQ1yfU
					AXmJOg+K2xbTCkDFo+7A3FcCKR51PreTBaUR
					hUobahcsdEBOotJW74hySDGoS7k3/+4QqDVU
					esFRxyCtodK++fmEL+gY5pPrqNSbb8dcA3N7
					QOXSVyjQP7AK88Zl1GWYoRQu4jNdBKPSa750
					EXU15hRE3zevNTQD6GDUJsyYS6gbMQ8tXMRP
					TBejUuMw7AIqPYBOW7wImgl0M2oj5opW1Dru
					ze8KWML8xvQwatbyNzgy6gIBPw2l6WVU+mYf
					1YRKn5nnUnwA1RKCrGPYXg2odHDrnvAuhm75
					LKP28EeCSNTF3JtPKmgN6eOokVG7LQ+0y6K2
					WVoaxcltWk4xahcvs0Sg0sGti0qHGHR4oolR
					9/AMwCYqHWmHx0pu85kyTi0qoTJsn8X3Mpnh
					z58GCGWiXvz9oj/c8rHzEXPgX93+8FCKFBpl
					3uD1+3+lBVXSsmkCioeIZyzpqFIW9vS6Ob7N
					Kz6DpKJKaj1zvOtbdUlDlTQc+YA5zO8FtKFK
					G98N8g5G5LKJKm3A/B6z28SC1QaqpC2QPC/T
					OvguAW2o0jbpnmLWJdFapYEqbRt5nBuHxNrz
					pFElHXQY4veReCWNKuEoDi2NOtOcrGgdqFTz
					ABqwdazRRdRXmC02Z4AuodIRzUO85oWAGi8j
					tfbmAbVyby6utKFO83C4RfK+iiZUWue2a9is
					ko46xbOBfZh6LTuAklHH+NiRupKIOsG9eT0o
					LUmog2n15j6g0nB4r0unKmyh5vknsx0cLBuo
					NM9sBYcrTdQnmCPgwdmtNFCHXXkASUClg1sH
					wcMyjTrFvXkreFwmUV9D8fervK+4qPSXy+i3
					V/ZDODxsBJUm7WsCoRnUt9ybZwJffFTanWwO
					ZGZQ34Ghg1u+o1JvTic6doXb3AzqM0jo4JaP
					qM996c3TQKX/+WtloDBXnRre5B8BBgAzrLO5
					29t6ZwAAAABJRU5ErkJggg==
					</data>
					<key>LogoFilename</key>
					<string>logo</string>
					<key>LogoUsed</key>
					<true/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<true/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Traveling the World in 365 Days</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Allegro</string>
					<key>TitleText</key>
					<string>storytellers</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UserAgentResizingPreset</key>
					<integer>0</integer>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>globalCSS</key>
					<string>a#logo { /* Total Width and Height of Logo in PX = 84px by 86px */
 margin-top: 60px; /* Space in PX between Logo and top of page */
 background-size: 42px 43px; /* Total Width in PX ÷ 2 / Total Height in PX ÷ 2 */
 width: 42px; /* Total Width in PX ÷ 2 */
 height: 43px; /* Total Height in PX ÷ 2 */
}

#extraContainer1 img { /* Ensures Responsive Edge to Edge Banner in EC1 */
	display: block;
	position: relative;
	min-width: 100%;
	height: auto;
}</string>
					<key>hasChangedGlobalCSS</key>
					<true/>
					<key>hasChangedGlobalHeader</key>
					<false/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>QuickLook</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
