<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Changed</key>
				<true/>
				<key>ColourStyles</key>
				<dict>
					<key>Ace Wipe</key>
					<dict/>
					<key>Allegro</key>
					<dict/>
					<key>Allegro Preview</key>
					<dict>
						<key>%colour_content_background%</key>
						<string>#FFFFFF</string>
						<key>%colour_current%</key>
						<string>#4D4D4D</string>
						<key>%colour_footer_background%</key>
						<string>#191919</string>
						<key>%colour_footer_border%</key>
						<string>#E6E6E6</string>
						<key>%colour_footer_link%</key>
						<string>#4DEEBE</string>
						<key>%colour_footer_text%</key>
						<string>#4C4C4C</string>
						<key>%colour_hover%</key>
						<string>#46F0BE</string>
						<key>%colour_slogan%</key>
						<string>#CCCCCC</string>
						<key>%colour_slogan_background%</key>
						<string>#0C0C0C</string>
						<key>%colour_slogan_border%</key>
						<string>#000000</string>
					</dict>
					<key>Alpha</key>
					<dict/>
					<key>Becoming Test</key>
					<dict/>
					<key>Blank RW Theme</key>
					<dict/>
					<key>Catalyst</key>
					<dict/>
					<key>Cataract</key>
					<dict/>
					<key>Composition 4.2 Demo</key>
					<dict/>
					<key>Couture</key>
					<dict/>
					<key>DK Stacks 2014</key>
					<dict/>
					<key>Decadent</key>
					<dict/>
					<key>Destiny</key>
					<dict/>
					<key>Elevation</key>
					<dict/>
					<key>Emotion</key>
					<dict/>
					<key>Exposition</key>
					<dict/>
					<key>Exposition Navigation</key>
					<dict/>
					<key>Furthermore</key>
					<dict/>
					<key>Gallant</key>
					<dict/>
					<key>Inhabit</key>
					<dict/>
					<key>J Line</key>
					<dict/>
					<key>Jazz</key>
					<dict/>
					<key>Midnight</key>
					<dict/>
					<key>Overture</key>
					<dict/>
					<key>Phenom</key>
					<dict/>
					<key>Polyphonic</key>
					<dict/>
					<key>Prelude</key>
					<dict/>
					<key>Reservations</key>
					<dict/>
					<key>Revolve</key>
					<dict/>
					<key>Revolve 2.0</key>
					<dict/>
					<key>Serenade</key>
					<dict/>
					<key>Sofisticated</key>
					<dict/>
					<key>Soliloquy</key>
					<dict/>
					<key>Summer Preview</key>
					<dict/>
					<key>Transform</key>
					<dict/>
					<key>Veerle</key>
					<dict/>
					<key>Vertigo Preview</key>
					<dict/>
					<key>Vertigo Preview Menu</key>
					<dict/>
					<key>Volante</key>
					<dict/>
					<key>Wrings Template</key>
					<dict/>
				</dict>
				<key>CreditRapidWeaver</key>
				<true/>
				<key>CustomCSS</key>
				<string>.fa {
	padding-right: 9px;
	color: #cacaca;	
}</string>
				<key>CustomCopyrightUsed</key>
				<false/>
				<key>CustomSiteTitleUsed</key>
				<false/>
				<key>CustomSloganUsed</key>
				<false/>
				<key>DefaultLinkTarget</key>
				<string>self</string>
				<key>FilenameExtension</key>
				<string>html</string>
				<key>HasCustomThemeStyle</key>
				<true/>
				<key>ImageFormat</key>
				<string>Original</string>
				<key>ImageQuality</key>
				<string>High</string>
				<key>IndexFilename</key>
				<string>index.html</string>
				<key>OutputFormat</key>
				<string>Default</string>
				<key>OutputXMLDeclaration</key>
				<false/>
				<key>SidebarEnabled</key>
				<integer>1</integer>
				<key>TextEncoding</key>
				<string>utf-8</string>
				<key>ThemeStyles</key>
				<dict>
					<key>Ace Wipe</key>
					<array>
						<string>Banner Accent.White Accent</string>
						<string>Banner Area.Collapse Banner</string>
						<string>Content Angle.None</string>
						<string>Content Font Family.Muli</string>
						<string>Content Font Size.12 px</string>
						<string>Footer Font Family.Lato</string>
						<string>Headings Font Family.Montserrat</string>
						<string>Sidebar.Right</string>
						<string>Slogan Area.Display</string>
						<string>Slogan Font Family.Lato</string>
						<string>Slogan Font Style.Normal</string>
						<string>Sticky Header.Sticky Header</string>
						<string>Title Font Family.Montserrat</string>
						<string>Title Font Style.Bold</string>
						<string>Toolbar Font Family.Merriweather</string>
						<string>Toolbar Font Style.Italic</string>
					</array>
					<key>Allegro</key>
					<array>
						<string>Content Font Family.Helvetica</string>
						<string>Content Font Size.12 px</string>
						<string>Footer Font Family.Georgia</string>
						<string>Headings Font Family.Helvetica</string>
						<string>Sidebar.Right</string>
						<string>Slogan Font Family.Helvetica</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.Helvetica</string>
						<string>Title Font Style.Bold</string>
						<string>Toolbar Font Family.Helvetica</string>
					</array>
					<key>Allegro Preview</key>
					<array>
						<string>Content Font Family.Helvetica</string>
						<string>Content Font Size.12 px</string>
						<string>Footer Font Family.Georgia</string>
						<string>Headings Font Family.Helvetica</string>
						<string>Sidebar.Remove</string>
						<string>Slogan Font Family.Georgia</string>
						<string>Slogan Font Style.Italic</string>
						<string>Title Font Family.Helvetica</string>
						<string>Title Font Style.Bold</string>
						<string>Toolbar Font Family.Helvetica</string>
					</array>
					<key>Aqualicious</key>
					<array>
						<string>Background.White</string>
						<string>Font Family.Modern</string>
						<string>Highlight Bar.On</string>
						<string>Sidebar.Right</string>
						<string>Styles.Blue</string>
						<string>Width.Default Width (680px)</string>
					</array>
					<key>BLT ReDesign 2.0</key>
					<array>
						<string>Sidebar.Right</string>
						<string>Toggle jQuery Features.Enable jQuery 1.5.2</string>
						<string>Toggle jQuery Features.Smooth Back To Top Function (requires jQuery)</string>
					</array>
					<key>Becoming Test</key>
					<array>
						<string>Background.1</string>
						<string>Content Font Family.Arial</string>
						<string>Content Font Size.12 px</string>
						<string>Editable Banner Image.Image 1</string>
						<string>Header Glow.Very Bright</string>
						<string>Header Texture.1px Diagonals</string>
						<string>Headings Font Family.TeX Gyre Adventor</string>
						<string>Slogan Font Family.TeX Gyre Adventor</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Embellishment.Transparent Stripes</string>
						<string>Title Font Family.TeX Gyre Adventor</string>
						<string>Title Font Style.Normal</string>
						<string>Toggle jQuery Features.Fade In Drop Down</string>
						<string>Toolbar Font Family.Latin Modern Sans</string>
					</array>
					<key>Cataract</key>
					<array>
						<string>Banner Area.Collapse Banner</string>
						<string>Banner Shadow Opacity.Medium</string>
						<string>Bottom Header - Slogan/Social.Display</string>
						<string>Bottom Header Texture.Texture 2</string>
						<string>Content Font Family.Arial</string>
						<string>Content Font Size.12 px</string>
						<string>Extra Content 2 Texture (EC 2 Enabled).Texture 3</string>
						<string>Extra Content 3 Texture (EC 3 Enabled).None</string>
						<string>Footer Font Family.Arvo</string>
						<string>Footer Texture.Texture 5</string>
						<string>Headings Font Family.Arvo</string>
						<string>Number of Slides (Slideshow Enabled).None (Static Image Enabled)</string>
						<string>Sidebar.Right</string>
						<string>Slideshow Transition.Random Transitions</string>
						<string>Slogan Font Family.Arvo</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.Montserrat</string>
						<string>Title Font Style.Normal</string>
						<string>Toolbar Font Family.Lato</string>
						<string>Top Header Texture.Texture 3</string>
					</array>
					<key>Clean</key>
					<array>
						<string>Sidebar.Right</string>
						<string>Styles.Red</string>
					</array>
					<key>Company</key>
					<array>
						<string>Sidebar.Right</string>
						<string>Styles.Orange</string>
					</array>
					<key>Composition 4.2 Demo</key>
					<array>
						<string>Block Navigation.Navigation Block Background</string>
						<string>Body Background.Stripes Medium (default)</string>
						<string>Colours.Extra Content 1</string>
						<string>Content Columns.Single Column (default)</string>
						<string>Content Font.Lucida Grande (default)</string>
						<string>Header Content Background.75% Opacity (default)</string>
						<string>Header Content Box (EC4).None (default)</string>
						<string>Heading Font.Helvetica (default)</string>
						<string>Line Height.1.50em (default)</string>
						<string>Logo.Fixed (top right)</string>
						<string>Miscellaneous.'Back To Top' Link</string>
						<string>Miscellaneous.Last Updated Stamp</string>
						<string>Navigation Functions.None (default)</string>
						<string>Navigation Style.Nav Bar, With Dividers (default)</string>
						<string>RAFT.Make Images Responsive</string>
						<string>RAFT.Make Video Responsive</string>
						<string>RAFT.Phone Adaptations (screens &lt;568px wide)</string>
						<string>RAFT.Tablet Adaptations (screens &lt;768px wide)</string>
						<string>Rounded Corners.15px (default)*</string>
						<string>Sidebar.Right, 200px Wide (default)</string>
						<string>Tagline (EC1).None (default)</string>
						<string>Text Size.75% (default)</string>
						<string>Toggle Navigation.On Screens &lt;800px Wide (default)</string>
						<string>Width.Responsive 940px (default)</string>
					</array>
					<key>Couture</key>
					<array>
						<string>"v" Animated Scroll Button."+" Black</string>
						<string>Banner Area.Static Image / Texture / Color</string>
						<string>Content Font Family.Open Sans</string>
						<string>Content Font Size.12 px</string>
						<string>Extra Content 2 Texture (EC 2 Enabled).None</string>
						<string>Extra Content 3 Texture (EC 3 Enabled).None</string>
						<string>Feature Banner Texture.None</string>
						<string>Footer Font Family.Open Sans</string>
						<string>Footer Texture.None</string>
						<string>Headings Font Family.Lato</string>
						<string>Main Content Texture.None</string>
						<string>Number of Slides (Slideshow Enabled).None (Static Image Enabled)</string>
						<string>Sidebar.Right</string>
						<string>Slideshow Transition.Random Transitions</string>
						<string>Slogan Font Family.PT Sans Narrow</string>
						<string>Slogan Font Style.Bold + Italic</string>
						<string>Title Font Family.PT Sans Narrow</string>
						<string>Title Font Style.Bold</string>
						<string>Toolbar Font Family.PT Sans Narrow</string>
					</array>
					<key>DK Stacks 2014</key>
					<array>
						<string>Banner Accent.White Accent</string>
						<string>Banner Area.Collapse Banner</string>
						<string>Content Angle.None</string>
						<string>Content Font Family.Muli</string>
						<string>Content Font Size.12 px</string>
						<string>Extra Content 2 Texture (EC 2 Enabled).None</string>
						<string>Extra Content 3 Texture (EC 3 Enabled).None</string>
						<string>Footer Font Family.Lato</string>
						<string>Footer Texture.None</string>
						<string>Header Texture.None</string>
						<string>Headings Font Family.Montserrat</string>
						<string>Main Content Texture.None</string>
						<string>Number of Slides (Slideshow Enabled).No Slides</string>
						<string>Sidebar.Right</string>
						<string>Slogan Area.Display</string>
						<string>Slogan Font Family.Lato</string>
						<string>Slogan Font Style.Normal</string>
						<string>Sticky Header.Sticky Header</string>
						<string>Title Font Family.Montserrat</string>
						<string>Title Font Style.Bold</string>
						<string>Toolbar Font Family.Merriweather</string>
						<string>Toolbar Font Style.Italic</string>
					</array>
					<key>Decadent</key>
					<array>
						<string>Aside Container Texture.None</string>
						<string>Banner Area.Collapse Banner</string>
						<string>Body Texture.None</string>
						<string>Content Font Family.Arial</string>
						<string>Content Font Size.12 px</string>
						<string>Fixed Sidebar (No Scroll).On</string>
						<string>Headings Font Family.Montserrat</string>
						<string>Number of Slides (Slideshow Enabled).None (Static Image Enabled)</string>
						<string>Page Top Slider Panel .Hide</string>
						<string>Sidebar.Right</string>
						<string>Slider Mechanics Icon Color.White Icon</string>
						<string>Slogan Font Family.Verdana</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.Helvetica</string>
						<string>Title Font Style.Normal</string>
						<string>Toolbar Font Family.Lato</string>
					</array>
					<key>Destiny</key>
					<array>
						<string>Content Font Family.Arial</string>
						<string>Editable Banner Image.Image 1</string>
						<string>Header Glow.Dull</string>
						<string>Header Texture.Grunge </string>
						<string>Headings Font Family.Arial</string>
						<string>Sidebar .Hide Sidebar</string>
						<string>Slogan Font Family.Arial</string>
						<string>Slogan Font Size..7 em</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.Helvetica</string>
						<string>Title Font Size.5.2 em</string>
						<string>Title Font Style.Bold + Italic</string>
						<string>Toggle jQuery.Enable jQuery 1.4.2</string>
						<string>Toggle jQuery.Smooth Drop Down Menu (requires jQuery)</string>
						<string>Toolbar Font Family.Lucida Grande</string>
						<string>Toolbar Font Size..75 em</string>
						<string>Top Header Noise Texture.Light Noise</string>
						<string>Top Header Shadow.Dark</string>
						<string>Width.960 px</string>
					</array>
					<key>Elevation</key>
					<array>
						<string>Banner Image Shadow.Image Shadow 1 - 960px</string>
						<string>Content Font Family.Arial</string>
						<string>Content Glow.Dull</string>
						<string>Editable Banner Image.Image 1</string>
						<string>Header Glow.Wide Dull</string>
						<string>Header Texture.Wood Texture 1</string>
						<string>Headings Font Family.Arial</string>
						<string>Sidebar .Hide Sidebar</string>
						<string>Slogan Font Family.Arial</string>
						<string>Slogan Font Size..7 em</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.Helvetica</string>
						<string>Title Font Size.4.3 em</string>
						<string>Title Font Style.Bold</string>
						<string>Toggle jQuery.Enable jQuery 1.4.2</string>
						<string>Toggle jQuery.Smooth Drop Down Menu (requires jQuery)</string>
						<string>Toolbar Font Family.Lucida Grande</string>
						<string>Toolbar Font Size..7 em</string>
						<string>Width.960 px</string>
					</array>
					<key>Emotion</key>
					<array>
						<string>Banner Area.Collapse Banner</string>
						<string>Content Font Family.Open Sans</string>
						<string>Content Font Size.12 px</string>
						<string>Fixed Navigation (Aside).On</string>
						<string>Footer Font Family.PT Sans</string>
						<string>Footer Texture.None</string>
						<string>Header Texture.None</string>
						<string>Header.Display Header</string>
						<string>Headings Font Family.PT Sans Narrow</string>
						<string>Number of Slides (Slideshow Enabled).None (Static Image Enabled)</string>
						<string>Sidebar.Right</string>
						<string>Slideshow Transition.Random Transitions</string>
						<string>Slogan Font Family.PT Sans</string>
						<string>Slogan Font Style.Italic</string>
						<string>Title Font Family.PT Sans Narrow</string>
						<string>Title Font Style.Bold</string>
						<string>Toolbar Font Family.PT Sans Narrow</string>
					</array>
					<key>Exposition</key>
					<array>
						<string>Banner Area.Collapse Banner</string>
						<string>Banner Shadow Opacity.Medium</string>
						<string>Content Font Family.Arial</string>
						<string>Content Font Size.12 px</string>
						<string>Footer Texture.Mesh</string>
						<string>Header Shadow Opacity.Medium</string>
						<string>Header Texture.Mesh</string>
						<string>Headings Font Family.Lato</string>
						<string>Number of Slides (Slideshow Enabled).None (Static Image Enabled)</string>
						<string>Sidebar.Right</string>
						<string>Slideshow Transition Type.Random Transitions</string>
						<string>Slogan Font Family.Verdana</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.Cardo</string>
						<string>Title Font Style.Normal</string>
						<string>Toolbar Font Family.Lato</string>
					</array>
					<key>Exposition Navigation</key>
					<array>
						<string>Banner Area.Collapse Banner</string>
						<string>Banner Shadow Opacity.Medium</string>
						<string>Content Font Family.Arial</string>
						<string>Content Font Size.12 px</string>
						<string>Footer Texture.Mesh</string>
						<string>Header Shadow Opacity.Medium</string>
						<string>Header Texture.Mesh</string>
						<string>Headings Font Family.Lato</string>
						<string>Number of Slides (Slideshow Enabled).None (Static Image Enabled)</string>
						<string>Sidebar.Right</string>
						<string>Slogan Font Family.Verdana</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.Cardo</string>
						<string>Title Font Style.Normal</string>
						<string>Toolbar Font Family.Lato</string>
					</array>
					<key>Final</key>
					<array>
						<string>Background Style.Background Style Grey</string>
						<string>Container Font Size.medium</string>
						<string>Content font.Titillium</string>
						<string>Footer Font Size.medium</string>
						<string>Header Font Size.medium</string>
						<string>Headers Font.Titillium</string>
						<string>Navbar width.normal</string>
						<string>Sidebar Font Size.medium</string>
						<string>Sidebar position and visibility.Right</string>
					</array>
					<key>Furthermore</key>
					<array>
						<string>Back To Top Button.Display</string>
						<string>Banner Texture.Light Shadow</string>
						<string>Content Font Family.Arial</string>
						<string>Editable Banner Image.Image 1</string>
						<string>Headings Font Family.TeX Gyre Adventor</string>
						<string>Navigation Margin.280px Left</string>
						<string>Sidebar .Hide Sidebar</string>
						<string>Slogan Font Family.Arial</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title and Slogan Margin.0 px Left</string>
						<string>Title Font Family.Tahoma</string>
						<string>Title Font Style.Bold</string>
						<string>Toggle jQuery Features.Enable jQuery 1.5.2</string>
						<string>Toggle jQuery Features.Smooth Back To Top Function (requires jQuery)</string>
						<string>Toggle jQuery Features.Smooth Drop Down (requires jQuery)</string>
						<string>Toolbar Font Family.Arial</string>
						<string>Top Border Texture.Wood Texture</string>
						<string>Top Header Style.Dashes</string>
					</array>
					<key>Gallant</key>
					<array>
						<string>Banner Image.Collapse Banner</string>
						<string>Content Font Family.Arial</string>
						<string>Content Font Size.12 px</string>
						<string>Display Title or Logo.Display Title</string>
						<string>Footer Texture.Lines</string>
						<string>Header Texture.Lines</string>
						<string>Headings Font Family.League Gothic</string>
						<string>Sidebar.Right</string>
						<string>Slogan Font Family.League Gothic</string>
						<string>Slogan Font Style.Italic</string>
						<string>Title Font Family.League Gothic</string>
						<string>Title Font Style.Normal</string>
						<string>Toolbar Font Family.M+ 1c</string>
					</array>
					<key>Inhabit</key>
					<array>
						<string>Banner Border Style.Lines</string>
						<string>Banner Image Shadow.Image Shadow 1 - 960px</string>
						<string>Content Font Family.Arial</string>
						<string>Editable Banner Image.Image 1</string>
						<string>Header Glow.Dull</string>
						<string>Headings Font Family.Bebas Neue</string>
						<string>Noise Texture.Light Noise</string>
						<string>Page Top Style.Black Triangles</string>
						<string>Sidebar .Hide Sidebar</string>
						<string>Slogan Font Family.Helvetica</string>
						<string>Slogan Font Size.13 px</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title and Slogan Margin.0 px Left</string>
						<string>Title Font Family.Bebas Neue</string>
						<string>Title Font Size.30 px</string>
						<string>Title Font Style.Normal</string>
						<string>Toggle jQuery Features.Enable jQuery 1.5.2</string>
						<string>Toggle jQuery Features.Smooth Drop Down (requires jQuery)</string>
						<string>Toolbar Font Family.Helvetica</string>
						<string>Toolbar Font Size..88 em </string>
						<string>Width.960 px</string>
					</array>
					<key>J Line</key>
					<array>
						<string>Background.1</string>
						<string>Banner Image.x (slideshow)</string>
						<string>Banner Size.No Banner</string>
						<string>Break Style.Single Dashed</string>
						<string>Dot Tint.25%</string>
						<string>J Line Opacity.50%</string>
						<string>Nav Font.Arial Black</string>
						<string>Nav Rollover.Slash</string>
						<string>Nav Size.28px</string>
						<string>Title Font.Bebas Neue</string>
						<string>Toggle.Heading No-Scroll</string>
					</array>
					<key>Jazz</key>
					<array>
						<string>Banner Area.Collapse Banner</string>
						<string>Content Font Family.Open Sans</string>
						<string>Content Font Size.12 px</string>
						<string>Extra Content 2 Texture (EC 2 Enabled).None</string>
						<string>Extra Content 3 Texture (EC 3 Enabled).None</string>
						<string>Footer Font Family.Open Sans</string>
						<string>Footer Texture.None</string>
						<string>Header Texture.None</string>
						<string>Headings Font Family.Open Sans Condensed</string>
						<string>Main Content Texture.None</string>
						<string>Number of Slides (Slideshow Enabled).None (Static Image Enabled)</string>
						<string>Sidebar.Right</string>
						<string>Slideshow Transition.Random Transitions</string>
						<string>Slogan Font Family.Oswald</string>
						<string>Slogan Font Style.Normal</string>
						<string>Social Button.White</string>
						<string>Title Font Family.Oswald</string>
						<string>Title Font Style.Italic</string>
						<string>Toolbar 2nd Level Font Family.Open Sans</string>
						<string>Toolbar Font Family.Open Sans</string>
						<string>Toolbar Height.300 px</string>
					</array>
					<key>Midnight</key>
					<array>
						<string>Banner Area.Collapse Banner</string>
						<string>Content Font Family.Lato</string>
						<string>Content Font Size.13 px</string>
						<string>Footer Font Family.Georgia</string>
						<string>Header Margin.None</string>
						<string>Headings Font Family.Montserrat</string>
						<string>Menu Icon Color (Responsive).Black</string>
						<string>Sidebar.Right</string>
						<string>Slogan Font Family.Oswald</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.Playfair Display</string>
						<string>Title Font Style.Bold + Italic</string>
						<string>Toolbar Font Family.Oswald</string>
					</array>
					<key>Overture</key>
					<array>
						<string>Banner Image.Collapse Banner</string>
						<string>Content Font Family.Arial</string>
						<string>Content Font Size.12 px</string>
						<string>Footer Texture.None</string>
						<string>Header Texture.None</string>
						<string>Headings Font Family.League Gothic</string>
						<string>Sidebar.Right</string>
						<string>Slogan Font Family.Abel</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.League Gothic</string>
						<string>Title Font Style.Normal</string>
						<string>Toolbar Font Family.Montserrat</string>
					</array>
					<key>Phenom</key>
					<array>
						<string>Banner Accent.White Accent</string>
						<string>Banner Area.Collapse Banner</string>
						<string>Content Angle.None</string>
						<string>Content Font Family.Muli</string>
						<string>Content Font Size.12 px</string>
						<string>Footer Font Family.Lato</string>
						<string>Headings Font Family.Montserrat</string>
						<string>Sidebar.Right</string>
						<string>Slogan Area.Display</string>
						<string>Slogan Font Family.Lato</string>
						<string>Slogan Font Style.Normal</string>
						<string>Sticky Header.Sticky Header</string>
						<string>Title Font Family.Montserrat</string>
						<string>Title Font Style.Bold</string>
						<string>Toolbar Font Family.Merriweather</string>
						<string>Toolbar Font Style.Italic</string>
					</array>
					<key>Polyphonic</key>
					<array>
						<string>Banner Area.Collapse Banner</string>
						<string>Banner Shadow.Display</string>
						<string>Body Texture.Lines</string>
						<string>Content Font Family.Arial</string>
						<string>Content Font Size.12 px</string>
						<string>Headings Font Family.Lato</string>
						<string>Number of Slides (Slideshow Enabled).None (Static Image Enabled)</string>
						<string>Sidebar.Right</string>
						<string>Slideshow Transition Type.Random Transitions</string>
						<string>Slogan Font Family.Verdana</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.Tex Gyre Adventor</string>
						<string>Title Font Style.Normal</string>
						<string>Toolbar Font Family.Lato</string>
						<string>Toolbar Style.Ribbon</string>
						<string>Toolbar Texture.Dotted Box</string>
					</array>
					<key>Prelude</key>
					<array>
						<string>Banner Area.Collapse Banner</string>
						<string>Content Font Family.Lato</string>
						<string>Content Font Size.13 px</string>
						<string>Footer Font Family.Open Sans</string>
						<string>Headings Font Family.Montserrat</string>
						<string>Sidebar.Right</string>
						<string>Slogan Font Family.Montserrat</string>
						<string>Slogan Font Style.Bold</string>
						<string>Sticky Header.Enable On-Scroll Up</string>
						<string>Title Font Family.Montserrat</string>
						<string>Title Font Style.Bold</string>
						<string>Toggle Title Fade.Enable On Scroll Title Fade</string>
						<string>Toolbar Font Family.Open Sans</string>
					</array>
					<key>Reservations</key>
					<array>
						<string>Banner Area.Collapse Banner</string>
						<string>Banner Image Positioning.Fixed</string>
						<string>Content Font Family.Arial</string>
						<string>Content Font Size.12 px</string>
						<string>Extra Content 2 Texture (EC 2 Enabled).Texture 3</string>
						<string>Extra Content 3 Texture (EC 3 Enabled).None</string>
						<string>Footer Font Family.Source Sans Pro</string>
						<string>Header Area.Enable Header</string>
						<string>Headings Font Family.Source Sans Pro</string>
						<string>Sidebar.Right</string>
						<string>Slogan Font Family.Source Sans Pro</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.Source Sans Pro</string>
						<string>Title Font Style.Bold</string>
						<string>Toggle Sticky Toolbar.Sticky Toolbar</string>
						<string>Toolbar Font Family.Lato</string>
						<string>Top Header Texture.Texture 4</string>
					</array>
					<key>Revolve</key>
					<array>
						<string>Banner Inner Border Style.Solid</string>
						<string>Content Font Family.Arial</string>
						<string>Content Glow.Off</string>
						<string>Editable Banner Image.Image 1</string>
						<string>Header Glow.On</string>
						<string>Header Texture.None</string>
						<string>Headings Font Family.Bebas Neue</string>
						<string>Noise Texture.Light Noise</string>
						<string>Sidebar .Sidebar Left</string>
						<string>Slogan Font Family.Bebas Neue</string>
						<string>Slogan Font Size.1 em</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.Bebas Neue</string>
						<string>Title Font Size.5.2 em</string>
						<string>Title Font Style.Normal</string>
						<string>Toggle jQuery.Enable jQuery 1.4.2</string>
						<string>Toggle jQuery.Smooth Drop Down Menu (requires jQuery)</string>
						<string>Toolbar Alignment.Left</string>
						<string>Toolbar Font Family.Bebas Neue</string>
						<string>Toolbar Font Size.1 em</string>
						<string>Width.980 px</string>
					</array>
					<key>Revolve 2.0</key>
					<array>
						<string>Banner Embellishment.1 px Lines</string>
						<string>Body Texture.Noise</string>
						<string>Content Font Family.Arial</string>
						<string>Content Font Size.12 px</string>
						<string>Editable Banner Image.Image 1</string>
						<string>Header Glow.Medium</string>
						<string>Header Texture.Diagonals</string>
						<string>Headings Font Family.Bebas Neue</string>
						<string>Page Shadow.Page Shadow II</string>
						<string>Sidebar.Right</string>
						<string>Slogan Font Family.Dancing Script</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.Bebas Neue</string>
						<string>Title Font Style.Normal</string>
						<string>Toggle jQuery Features.Enable jQuery 1.6.1</string>
						<string>Toggle jQuery Features.Smooth Drop Down (requires jQuery)</string>
						<string>Toolbar Font Family.Bebas Neue</string>
					</array>
					<key>Serenade</key>
					<array>
						<string>Banner Area.Collapse Banner</string>
						<string>Bottom Header Texture.Texture 2</string>
						<string>Content Font Family.Open Sans</string>
						<string>Content Font Size.12 px</string>
						<string>Extra Content 2 Texture (EC 2 Enabled).Texture 3</string>
						<string>Extra Content 3 Texture (EC 3 Enabled).None</string>
						<string>Footer Font Family.Open Sans</string>
						<string>Footer Texture.Texture 5</string>
						<string>Headings Font Family.Open Sans</string>
						<string>Main Content Texture.Texture 5</string>
						<string>Number of Slides (Slideshow Enabled).None (Static Image Enabled)</string>
						<string>Sidebar.Right</string>
						<string>Slideshow Transition.Random Transitions</string>
						<string>Slogan Font Family.Lato</string>
						<string>Slogan Font Style.Normal</string>
						<string>Sticky Layout.Sticky Header and Toolbar</string>
						<string>Title Font Family.Lora</string>
						<string>Title Font Style.Normal</string>
						<string>Toolbar Font Family.Lora</string>
						<string>Top Header - Title/Slogan.Display</string>
						<string>Top Header Texture.Texture 3</string>
					</array>
					<key>Sofisticated</key>
					<array>
						<string>"Menu" Font Family.Palatino</string>
						<string>"Menu" Font Style.Italic</string>
						<string>Banner Area.Collapse Banner</string>
						<string>Content Embellishment.Line Accent</string>
						<string>Content Font Family.Open Sans</string>
						<string>Content Font Size.12 px</string>
						<string>Footer Font Family.Open Sans</string>
						<string>Headings Font Family.Noticia Text</string>
						<string>Sidebar.Right</string>
						<string>Slogan Font Family.Lato</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.Cardo</string>
						<string>Title Font Style.Normal</string>
						<string>Title/Slogan Texture.Diagonal Lines</string>
						<string>Toolbar Font Family.Noticia Text</string>
					</array>
					<key>Soliloquy</key>
					<array>
						<string>Body Noise Texture.Light Noise</string>
						<string>Breadcrumb &amp; Footer Texture.None</string>
						<string>Content Font Family.Arial</string>
						<string>Content Font Size.12 px</string>
						<string>Editable Banner Image.Image 1</string>
						<string>Headings Font Family.Abel</string>
						<string>Menu Button.Black Arrow</string>
						<string>Menu Height.200 px</string>
						<string>Sidebar.None</string>
						<string>Slogan Font Family.Abel</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.Abel</string>
						<string>Title Font Style.Normal</string>
						<string>Toggle jQuery.Enable jQuery 1.4.2</string>
						<string>Toolbar Font Family.Abel</string>
					</array>
					<key>Summer Preview</key>
					<array>
						<string>Banner Accent.White Accent</string>
						<string>Banner Area.Collapse Banner</string>
						<string>Content Angle.None</string>
						<string>Content Font Family.Muli</string>
						<string>Content Font Size.12 px</string>
						<string>Footer Font Family.Lato</string>
						<string>Headings Font Family.Montserrat</string>
						<string>Sidebar.Right</string>
						<string>Slogan Area.Display</string>
						<string>Slogan Font Family.Open Sans</string>
						<string>Slogan Font Style.Italic</string>
						<string>Sticky Header.Sticky Header</string>
						<string>Title Font Family.Oswald</string>
						<string>Title Font Style.Normal</string>
						<string>Toolbar Font Family.Montserrat</string>
						<string>Toolbar Font Style.Normal</string>
					</array>
					<key>Transform</key>
					<array>
						<string>Back To Top Button.Display</string>
						<string>Banner Background Style.Very Light Shadow</string>
						<string>Content Font Family.Arial</string>
						<string>Editable Banner Image.Image 1</string>
						<string>Header Noise Texture.Light Noise</string>
						<string>Headings Font Family.TeX Gyre Adventor</string>
						<string>Sidebar .Hide Sidebar</string>
						<string>Slogan Font Family.TeX Gyre Adventor</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.TeX Gyre Adventor</string>
						<string>Title Font Style.Normal</string>
						<string>Title Margin.0 px Left</string>
						<string>Toggle jQuery Features.Enable jQuery 1.5.2</string>
						<string>Toggle jQuery Features.Smooth Back To Top Function (requires jQuery)</string>
						<string>Toggle jQuery Features.Smooth Drop Down (requires jQuery)</string>
						<string>Toolbar Font Family.TeX Gyre Adventor</string>
						<string>Toolbar Font Size..88 em </string>
						<string>Width.960 px</string>
					</array>
					<key>Vertigo Preview</key>
					<array>
						<string>Banner Area.Collapse Banner</string>
						<string>Content Font Family.Open Sans</string>
						<string>Content Font Size.12 px</string>
						<string>Footer Font Family.Open Sans</string>
						<string>Header Opacity.40%</string>
						<string>Headings Font Family.Noticia Text</string>
						<string>Sidebar.Right</string>
						<string>Slogan Font Family.Lato</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.Montserrat</string>
						<string>Title Font Style.Normal</string>
						<string>Toggle Sticky Header.Enable On Scroll Title Fade</string>
						<string>Toggle Title Fade.Enable On Scroll Title Fade</string>
						<string>Toolbar Font Family.Noticia Text</string>
					</array>
					<key>Vertigo Preview Menu</key>
					<array>
						<string>Banner Area.Collapse Banner</string>
						<string>Content Font Family.Open Sans</string>
						<string>Content Font Size.12 px</string>
						<string>Footer Font Family.Open Sans</string>
						<string>Header Opacity.40%</string>
						<string>Headings Font Family.Noticia Text</string>
						<string>Menu Icon Color.White</string>
						<string>Sidebar.Right</string>
						<string>Slogan Font Family.Lato</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.Montserrat</string>
						<string>Title Font Style.Normal</string>
						<string>Toggle Sticky Header.Enable On Sticky Header</string>
						<string>Toggle Title Fade.Enable On Scroll Title Fade</string>
						<string>Toolbar Font Family.Noticia Text</string>
						<string>Toolbar Font Style.Normal</string>
					</array>
					<key>Wrings Template</key>
					<array>
						<string>Banner Image.Collapse Banner</string>
						<string>Content Font Family.Arial</string>
						<string>Content Font Size.12 px</string>
						<string>Footer Texture.None</string>
						<string>Header Texture.None</string>
						<string>Headings Font Family.League Gothic</string>
						<string>Sidebar.Right</string>
						<string>Slogan Font Family.Abel</string>
						<string>Slogan Font Style.Normal</string>
						<string>Title Font Family.League Gothic</string>
						<string>Title Font Style.Normal</string>
						<string>Toolbar Font Family.Montserrat</string>
					</array>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>Page Attributes</string>
</dict>
</plist>
