<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ChangedStatuses</key>
				<dict>
					<key>default</key>
					<true/>
					<key>ftp://ftp.multithemes.com/www.multithemes.com/examples/lander/</key>
					<true/>
				</dict>
				<key>ColourStyles</key>
				<dict>
					<key>Lander</key>
					<dict>
						<key>%colour_body_background%</key>
						<string>#1A2629</string>
						<key>%colour_content_text%</key>
						<string>#E2E2E2</string>
						<key>%colour_header_title%</key>
						<string>#182430</string>
						<key>%colour_highlight%</key>
						<string>#FFFFFF</string>
						<key>%colour_links%</key>
						<string>#C4EBFF</string>
						<key>%colour_nav_background%</key>
						<string>#465E6A</string>
						<key>%colour_page_background%</key>
						<string>#57717D</string>
						<key>%colour_sidebar_background%</key>
						<string>#404E56</string>
					</dict>
					<key>Offroad</key>
					<dict/>
				</dict>
				<key>CreditRapidWeaver</key>
				<true/>
				<key>CustomCSS</key>
				<string>#drop:after {content:"OPEN";}</string>
				<key>CustomCopyrightUsed</key>
				<false/>
				<key>CustomSiteTitle</key>
				<string> &lt;i class="fa fa-image"&gt;&lt;/i&gt; Portfolio</string>
				<key>CustomSiteTitleUsed</key>
				<true/>
				<key>CustomSloganUsed</key>
				<false/>
				<key>DefaultLinkTarget</key>
				<string></string>
				<key>FilenameExtension</key>
				<string>html</string>
				<key>FolderName</key>
				<string>photos</string>
				<key>HasCustomThemeStyle</key>
				<true/>
				<key>ImageFormat</key>
				<string>Original</string>
				<key>ImageQuality</key>
				<string>High</string>
				<key>IndexFilename</key>
				<string>index.html</string>
				<key>MetaDescription</key>
				<string>rapidweaver responsive theme with modern design</string>
				<key>MetaTags</key>
				<array>
					<dict>
						<key>Content</key>
						<string>responsive theme with modern design</string>
						<key>Name</key>
						<string>responsive</string>
					</dict>
				</array>
				<key>OutputFormat</key>
				<string>Default</string>
				<key>OutputXMLDeclaration</key>
				<false/>
				<key>RobotsShouldFollowLinks</key>
				<true/>
				<key>RobotsShouldIndexPage</key>
				<true/>
				<key>SidebarEnabled</key>
				<integer>1</integer>
				<key>SidebarTitle</key>
				<string>PHOTO ALBUM</string>
				<key>TextEncoding</key>
				<string>utf-8</string>
				<key>ThemeStyles</key>
				<dict>
					<key>Lander</key>
					<array>
						<string>[+] combo options.Back to Top Button</string>
						<string>[+] combo options.Navigation: Uppercase</string>
						<string>[+] combo options.StyledText+Blog: Fluid image (edge to edge)</string>
						<string>Banner Image - Parallax.Apply Parallax (disable in small devices)</string>
						<string>Banner Image - Vertical masking.MaxHeight 600px</string>
						<string>BreakPoint: Sidebar.1000 Pixel</string>
						<string>Google WebFont: Classes + Titles.Raleway</string>
						<string>Image - Parallax.Apply Parallax (disable in small devices)</string>
						<string>Image - vertical masking.MaxHeight 400px</string>
						<string>Loading page - Effects.Default</string>
						<string>Max Width.1000 Pixel</string>
						<string>Navigation Colors.Navigation - Link</string>
					</array>
					<key>Offroad</key>
					<array>
						<string>Background overlay.80% opacity</string>
						<string>Background.Use background image</string>
						<string>Blur background on scroll.Blur</string>
						<string>Desktop navigation.Main colour</string>
						<string>Global colours.Main</string>
						<string>Photo album.Show captions</string>
						<string>Sidebar.Right</string>
						<string>Site description.Visible</string>
						<string>Site title.Show site title</string>
					</array>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Sidebar.as</string>
			</array>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>Page Attributes</string>
</dict>
</plist>
